# Python

__pycache__/
*.py[cod]
*$py.class

# Virtual Environments
my_env/
venv/
env/
ENV/
.env

# TensorBoard logs
tb_logs/
SentimentClassification/tb_logs/

# Generated graph/model artifacts
checkpoints/
graph.pt
*.pt
data/bias_transformer/

# IDEs
.idea/
.vscode/

# Jupyter
.ipynb_checkpoints/
### AL ###
#Template for AL projects for Dynamics 365 Business Central
#launch.json folder
.vscode/
#Cache folder
.alcache/
#Symbols folder
.alpackages/
#Snapshots folder
.snapshots/
#Testing Output folder
.output/
#Extension App-file
*.app
#Rapid Application Development File
rad.json
#Translation Base-file
*.g.xlf
#License-file
*.flf
#Test results file
TestResults.xml
vector_db/chroma.sqlite3